   <div class="wrapper">
       <h3>India is a federal union comprising twenty-nine states and seven union territories.</h3>
        <div class="map_left">
              <div id="mapdiv"></div>
              <div id="placeholder"></div>
        </div>
        <div class="state_right" id="states_list">
            <ul>
             {% for state in data %}
                 <li><a href="{{ state.url }}" id="{{ state.code }}"  onmouseover="selectArea('{{ state.code }}')" class>{{ state.name }}</a></li>
             {% endfor %}
            </ul>
        </div>
    </div>