
.ammapAlert
{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    font-family:verdana,helvetica,arial,sans-serif;
    font-size:12px;
    color:#e00065;
}

.ammapDescriptionWindow
{
   font-size:11px;
   font-family:verdana,helvetica,arial,sans-serif;
   background-color:#FFFFFF;
   border-style:solid;
   border-color:#DADADA;
   border-width:1px;
   color:#000000;
   padding:8px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}


.ammapDescriptionTitle
{
   font-size:12px;
   font-weight:bold;
   font-family:verdana,helvetica,arial,sans-serif;
   padding-bottom:5px;
}

.ammapDescriptionWindowCloseButton
{

}

.ammapObjectList ul
{
    padding-left:20px;
    list-style:square outside;
    color:#999999;
    font-family:verdana,helvetica,arial,sans-serif;
    font-size: 12px;
}

.ammapObjectList ul ul
{
    padding-left:14px;
}

.ammapObjectList a
{
    color:#000000;
}

.ammapObjectList a
{
    color:#000000;
    text-decoration:none;
    display:block;
    padding:2px;
}

.ammapObjectList a:hover
{
    color:#e00065;
    text-decoration:none;
    background:#FFFFFF;
    cursor:pointer;
    display:block;
}

.ammapDescriptionText
{
	  max-height: 500px;
  overflow: auto;
}


.amChartsPlotArea
{

}


#states_list li a:hover,
#states_list li a.selected {
  /*background: #bbb;*/
  color: #243391 !important;
  border-left: 4px solid #e00065;
}

#block-quicktabsopportunities .wrapper .amcharts-balloon-div {width: 260px!important;border-radius: 10px!important;-moz-border-radius: 10px!important;-o-border-radius: 10px!important;-webkit-border-radius: 10px!important;}
#block-quicktabsopportunities .map_left ul{margin: 0!important;}
#block-quicktabsopportunities .map_left ul   li{text-align: left!important;}
#block-quicktabsopportunities .wrapper .amcharts-balloon-div .field-content .section-head .state-desc p{font-family: 'ropa_sansregular';color: #777;font-size: 16px;max-height: 39px;overflow: hidden;}
